<title>searchOnSubArray</title>
<h1>Search on Subarray ( whether it contains or not )</h1>
Result is {{result}}


<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <br>
    <input type="submit">
</form>
