<title>Deployed App</title>
<h1>Search on Subarray</h1>
<br>1.BOX: Give integer numbers(array) with newline char</br>
<br>2.BOX: Give a start index(1 to n)</br>
<br>3.BOX: Give a stop index</br>
<br>4.BOX: Give the value to check whether exists</br>
<br>Returns true: if include the element, else returns false</br>
<br></br>
Result is {{result}}


<form action="compute" method="post">
    <textarea name="input1" rows="10" cols="30"></textarea>
    <textarea name="input2" rows="10" cols="30"></textarea>
    <textarea name="input3" rows="10" cols="30"></textarea>
    <textarea name="input4" rows="10" cols="30"></textarea>
    <br>
    <input type="submit">
</form>
